{% extends "team/base.html" %}

{% block base_content %}

    <div class="container">
       <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3>{{ team.name }}</h3></div>
                <div class="panel-body">
                    <div class="media">
                      <div class="media-body">
                        <p><b>球队积分：</b>{{ team.score }}</p>
                        <p><b>球队城市：</b>{{ team.city }}</p>
                        <p><b>成立时间：</b>{{ team.create_date }}</p>
                        <p><b>主帅：</b>{{ team.coach }}</p>
                        <p><b>球星：</b>{{ team.star }}</p>
                        <p><b>简介：</b>{{ team.description }}</p>
                      </div>
                       <div class="media-right">
                        <a href="#">
                          <img class="media-object" src="/media/{{ team.img }}" alt="{{ team.name }}">
                        </a>
                      </div>
                    </div>

                </div>
            </div>

        </div>
       </div>
    </div>

{% endblock %}